{% extends 'base.html' %}

{% block title %}
    Actualizacion de proveedor
{% endblock %}

{% block content %}
    <h1>Hola desde la actualizacion</h1>



    {% if form %}

        <form action="" method="POST">

            {% csrf_token %}

            <table>
                {{form.as_table}}
            </table>


            <input type="submit" value="Actualizar">
        </form>
    {% endif %}


    {% if form_errors %}
        <h2 style="color: red;" >Errores:</h2>
        {{form_errors}}
    {% endif %}


    {% if message %}
        <h2 style="color: green;" >{{message}}</h2>
    {% endif %}





{% endblock %}